@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;800&family=Raleway:wght@300;500;600&display=swap');

*{
    box-sizing: border-box;
}

*::before,
*::after{
    box-sizing: border-box;
}

img{
    max-width: 100%;
    pointer-events: none;
}
body{
    color: #fff;
    background-image: url(/img/about-preview.jpg);
    background-position: center;
    background-size: cover;  
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.container{
    /* background-color: rgb(0, 0, 0); */
    max-width: 1950px;
    max-height: 3740px;
    padding: 0 15px;
    margin: 0 auto;
}
.header-container{
    padding: 30px 65px 0;
    display: flex;
    justify-content: space-between;
}
.header{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
}

.logo{
    color: #fff;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
}
.social{
    display: flex;
    justify-content: space-between;
}
.community{
    display: flex;
    width: 145px;
    height: 60px;
    margin-right: 53px;
    /* padding-top: 43px; */
    /* margin-right: 65px; */
    justify-content: space-between;
}
.twitter-img{
    width: 100%;
    height: 100%;
}
.twitter{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    transition: all 500ms ease;
}
.discord-img{
    filter: invert(1);
    width: 100%;
    height: 100%;
}
.discord{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    transition: all 500ms ease;
}
.twitter:hover{
    transition: all 500ms ease;
    transform: scale(1.1);
}
.discord:hover{
    transition: all 500ms ease;
    transform: scale(1.1);
}
.btn{

}
.btn-connect-wallet{
    background-color: transparent;
    display: inline-block;
    width: 200px;
    padding: 8px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 25px;
    text-align: center;
    outline: none;
    text-decoration: none;
    width: 210px;
    height: 50px;
    transition: all 500ms ease;
    cursor: pointer;
}
.connect-wallet-text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}
.btn-connect-wallet:hover{
    background-color: #fff;
    color: black;
    transition: all 500ms ease;
    transform: scale(1.1);
}



.hero{
    margin-top: 30px;
    

    /* position: absolute;
    background-image: url(/img/about-preview.jpg);
    background-position: center;
    background-size: cover;  
    background-repeat: no-repeat;
    width: 100%;
    height: 100%; */
}
.hero-container{
    display: flex;

    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}
.gallery{
    padding-right: 80px;
    margin-left: 65px;
    height: 2378px;
    width: 650px;
    border-right: 1px solid rgb(255, 255, 255);
}
.gallery-title{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 70px;
}
.card{
    position: relative;
    padding-top: 70px;
}
.name-card{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 25px;
}
.descr-card{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 24px;
}

.gpu-card{
    min-width: 500px;
    min-height: 500px;
}
.torus-card{
    width: 360px;
    height: 360px;
}
.car907-card{
    width: 360px;
    height: 360px;
}
.down-card{
    padding-top: 400px;
}
.about-project{
    height: 3573px;
    width: 1235px;
    margin-left: 80px;
}
.about-project-title{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 40px;
}
.about-project-subtitle{
    margin-bottom: 0;
    padding-top: 37px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 61px;
}
.part-list{
    padding-top: 0;
}
.part-item{
    list-style-type: none;
}
.part-title{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;
    margin-bottom: 20px;
}
.first-part-text{
    margin-top: 0;
    width: 841px;
    height: 205px;
    margin-right: 336px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 41px;
    color: #C7C7C7;
}
.second-part-text{
    margin-top: 0;
    width: 949px;
    height: 123px;
    margin-right: 336px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 41px;
    color: #C7C7C7;
}
/* nav */
.nav-container{
    width: 1040px;
    padding-top: 120px;
}
.nav-items{
    display: flex;
    justify-content: space-between;
}
.nav-items{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 41px;
    border-bottom: 1px solid #454545;;
}
#nav-item{
    color: #454545;
    /* margin-right: 30px; */
    border: 5px solid transparent;
    transition: all 300ms ease;
}
#nav-item:hover{
    cursor: pointer;
    color: #fff;
    border-bottom: 3px solid #fff;
    transition: all 300ms ease;
}
#nav-item:focus{
    cursor: pointer;
    color: #fff;
    border-bottom: 3px solid #fff;
    transition: all 300ms ease;
}
/* #nav-item:active{
    color: #fff;
    border-bottom: 3px solid #fff;
} */

/* .nav-items > a{
    text-decoration: none;
} */
/* nav */

.main-text{
    position: relative;
    width: 1400px;
    height: 1200px;
}
.our-vision{
    padding-top: 70px;
}
.our-vision-title{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;
}
.our-vision-subtitle{
    margin: 30px 172px 0 0;
    width: 1000px;
    /* height: 1435px; */
    margin-right: 172px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 41px;
    color: #C7C7C7;
}
.text-bold{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #C7C7C7;
}
.ps-text-bold{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #ffffff;    
}
div{
    position: relative;
}
.txt-img1{
    position: absolute;
    margin-left: 1515px;
    margin-top: 95px;
}
.txt-img2{
    position: absolute;
    margin-top: 1550px;
    margin-left: 350px;
    z-index: 100;
}
/* other nav */
/* .panel{
	width: calc(100% - 20px);
	height: 98%;
	overflow-y: auto;
	overflow-x: hidden;
	transform: translatey(-150%);

	opacity: 0;

	z-index: 2;
	-webkit-transition: all .8s ease-in-out;
	-moz-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}
.panel:target{
	transform: translatey(0);
	opacity: 1;
}
.text-container{

	padding-bottom: 30px;
}

#id-our-vision:target ~ #navigation .nav-items #link-our-vision,
#id-roadmap:target ~ #navigation .nav-items #link-roadmap,
#id-partners:target ~ #navigation .nav-items #link-partners,
#id-team:target ~ #navigation .nav-items #link-team,
#id-info:target ~ #navigation .nav-items #link-info{
	background: #000;
	color: #fff;
} */
/* other nav */
.hidden{
    display: none;
}
